<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orula - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar">
            <div>
                <img src="~/Content/Img/Orula_Sidebar_Logo.png" class="col sidebar-logo" />
            </div>
            <div>
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-block sidebar-button", style = "font-size:20px" })<br />
                @Html.ActionLink("Report", "Index", "Report", null, new { @class = "btn btn-block sidebar-button", style = "font-size:20px" })<br />
                @Html.ActionLink("Team", "Team", "Home", null, new { @class = "btn btn-block sidebar-button", style = "font-size:20px" })<br />


                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
                <input type="password" value="FakePSW" id="myInput" />
                @Html.ActionLink("Login", "Index", "Report", null, new { @class = "btn btn-block sidebar-button", style = "font-size:20px" })<br />
            </div>
        </div>
        <div class="col offset-2">
            @RenderBody()
            <footer style="margin-top:10px">
                <p>&copy; 2019 Orúla. All rights reserved.</p>
            </footer>
        </div>
    </div>
</div>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
